{
    "parserOptions": {
      "ecmaVersion": 2019, // 支援 ECMAScript2019
      "sourceType": "module", // 使用 ECMAScript ****module 
      "ecmaFeatures": {
        "jsx": true // 支援 JSX
      }
    },
    "rules": {
        "semi": "error", // 結尾要加分號
        "quotes": ["error", "double"] // 字串雙引號
      },
      "env": {
        "browser": true // 允許在瀏覽器執行
      }
  }